html, body {
    margin: 0;
    padding: 0;
    background: rgb(245, 245, 245);
}

header {
    padding: 30px;
}

#logo {
    font-family: 'Chivo';
    font-weight: 900;
    color: rgb(20, 20, 20);
    letter-spacing: -3px;
    font-size: 40px;

    padding-right: 50px;
    text-shadow: 0 1px 2px rgb(0, 0, 0);
}

#logo-alpha {
    letter-spacing: 0px;
    color: rgba(20, 20, 20, 0.25);
    text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

#links {
    font-family: 'Open Sans';
    font-size: 25px;
    float: right;

    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
#links li {
    display: inline;
    padding-right: 20px;
}

#links li a {
    text-decoration: none;
    color: rgb(40, 40, 40);
}

#links li a:hover {
    text-decoration: none;
    color: rgb(100, 100, 100);
}

#demo {
    background: rgb(20, 20, 20);
    min-height: 200px;
    border-bottom: 3px solid rgb(40, 40, 40);
    border-top: 3px solid rgb(0, 0, 0);

}

section {
    padding: 30px;
    font-family: 'Chivo';
    font-size: 18px;
}

.demo-slug {
    font-family: 'Chivo';
    color: rgb(180, 180, 180);
    font-size: 20px;
}
