html, body {
    background-color: #33c6f4;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

section, div, img, ul {
    margin: 0;
    padding: 0;
}

header {
    height: 3em;
    position: fixed;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    float: right;
    list-style-type: none;
}

header li {
    display: inline;
    padding-left: 5vw;
    padding-right: 5vw;
}

header a {
    color: inherit;
    text-decoration: none;
}

#intro {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
    padding-top: 3em;
}

#intro img {
    width: 100vw;
}

#intro span {
    position: relative;
    top: -10vw;

    margin-bottom: -7.5vw;

    font-size: 3vw;
    text-align: center;
    font-weight: 300;
}

#about {
    background-color: #0099cc;
    width: 100%;

    min-height: 500px;
}
